server {
  server_name member.example.test;
  listen    80;
  error_log /var/log/nginx/member_error.log;
  location / {
            proxy_pass  http://member:1337;
            proxy_redirect     off;
            proxy_set_header   Host             $host;
            proxy_set_header   X-Real-IP        $remote_addr;
            proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
  }
}
