server {
        server_name api.example.test web.example.test;
        listen 80 ;
        root /var/www/example/public;
        index  index.php index.html index.htm;
        if (!-e $request_filename) {
          rewrite ^/(.*)$ /index.php?/$1 last;
        }
        client_max_body_size 120m;
		location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_pass php-fpm:9000;
                fastcgi_index index.php;
                fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }

}
